<br />
@{
    ViewBag.Title = "Kontakt";
}
<h2>@ViewBag.Title</h2>

<address>

    <div class="col-lg-12">
        Wszelkie pytania kierować do:
        <p class="text-warning"> A. Piecyk - specjalista od stron typu "zaliczenie z przedmiotu ASP.NET".</p>
        E-mail: <p class="text-success">piecuszek@example.com</p>
        Telefon: <p class="text-info">123-234-345</p>
    </div>

</address>
